.color{
    color: #584ba0;
    background-color: #f7e3e9;
    TEXT-COLOR: #dbb2bd;

}
.color3{
    color: #e67dba;
    background-color: #f7e3e9;
}

.colr4{
    color : #8d92cf;
    background-color: #c6bdbd;
}